body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  background: #111;
  color: white;
  font-family: 'Inter', sans-serif;
}

* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#container {
  width: 960px;
  display: -webkit-box;
  -webkit-transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.3s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
}

.page {
  width: 320px;
  height: 426px;
  margin-top: 16px;
  text-align: center;
  -webkit-box-flex: 0;
}

.room {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #EAEFEF;
}

.current {
  font-size: 70px;
  font-weight: bold;
}

.target {
  font-size: 16px;
  color: #EAEFEF;
  margin-bottom: 10px;
}

.target .chevron {
  font-size: 24px;
  font-family: Gill Sans, sans-serif;
}

.buttons-grid {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.buttons-row {
  display: -webkit-box;
  -webkit-box-pack: center;
  height: 68px;
}

.buttons-row button {
  margin: 4px;
  padding: 10px 20px;
  width: 100px;
  background: transparent;
  border: 2px solid #555;
  border-radius: 16px;
  color: white;
  font-size: 24px;
  height: 60px;
  cursor: pointer;
}

.buttons-row button:disabled {
  background: grey;
  opacity: 0.5;
}

.buttons-row button .icon-img {
  margin: 0 auto;
  max-height: 22px;
  width: auto;
  opacity: 0.9;
}

#dots {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #555;
  border-radius: 50%;
}

.dot.active {
  background: white;
}
